@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Universal box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Full height setup */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
  @apply flex flex-col min-h-screen bg-gray-100;
}

/* Reset headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#root {
  @apply flex-grow;
}

/* Responsive typography */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
